<div class="spec_div">
    <p class="div_pad_top">
        <button type="button" class="btn btn-secondary block2" routerLink="/lend">Current Balance</button>
        <button type="button" class="btn btn-secondary block3" routerLink="/lend">Make Payment</button>
    </p>

    <p class="div_pad_bot">
        <button type="button" class="btn btn-secondary block" routerLink="/lend">Payment History</button>
        <button type="button" class="btn btn-secondary block" routerLink="/lend">Notifications</button>
        <button type="button" class="btn btn-secondary block" routerLink="/search">Search for a Loan</button>
    </p>
</div>

<!-- needs fix: when I click on buttons there is a border that shows -->