<app-make-payment [loan]="currentLoan"></app-make-payment>

<div class="modal fade" id="paymentScheduleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <div class="modal-body"> -->
            <app-payment-schedule></app-payment-schedule>
            <!-- </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container"> -->
<div class="row" *ngIf="currentLoan.eth_address">
    <div class="col">
        <div class="jumbotron" style="margin-top: 30px;">
            <div class="row">
                <div class="col-4 text-center border-right d-flex flex-column" style="height: 13vh;">
                    <small><b>Payment Due</b></small>
                    <h1>{{ payment_due | currency}}</h1>
                    <div class="btn btn-outline-primary mt-auto p-2" data-toggle="modal"
                        data-target="#paymentScheduleModal">View Payment Schedule</div>
                </div>
                <div class="col-4 text-center border-right d-flex flex-column" style="height: 13vh;">
                    <small><b>Your Payment is Due On</b></small>
                    <h1>{{ payment_due_date | date: 'MMMM d'}}</h1>
                    <div class="btn btn-primary mt-auto p-2" data-toggle="modal" data-target="#makePaymentModal">Make
                        Payment</div>
                </div>
                <div class="col-4 text-center d-flex flex-column" style="height: 13vh;">
                    <small><b>Total Balance</b></small>
                    <h1>{{ total_loan_balance | currency}}</h1>
                    <div class="mt-auto p-2"><small>You will not be able to request another loan until this balance is
                            fully paid off <i class="bi bi-info-circle"></i></small></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!currentLoan.eth_address" style="margin-top: 30px;">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-8  border-right">
                    <h1>Hello {{firstname}}! Looking for a loan?</h1>
                    Check out the latest loan offers from our lenders <a href="/search">here</a>
                </div>
                <div class="col-4 text-center">
                    <h1>{{ pending_offers.length }}</h1>
                    <!-- <a routerLink="/pending-offers">Pending Offers</a> -->
                    Pending Offers
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <app-latest-payments [isLender]="false"></app-latest-payments>
    </div>
    <div class="col-6">
        <div class="accordion" id="offersAccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-block d-flex justify-content-between" type="button"
                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Pending Offers
                            <span class="badge badge-primary badge-pill align-self-center">5</span>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#offersAccordion">
                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action" *ngFor="let p_offer of pending_offers; index as i">
                            <div class="row">
                                <div class="col-6">
                                    <del>{{ p_offer.amount_orig | currency }}</del> <b> {{p_offer.amount | currency}}</b>
                                </div>
                                <div class="col-6 text-right">
                                    <small>Waiting for lender response</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <del>{{ p_offer.interest_orig | percent }}</del> <b> {{ p_offer.interest | percent }}</b> 
                                </div>
                                <div class="col-6 text-right">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <del>{{ p_offer.months_orig }} month(s)</del> <b> {{ p_offer.months }} month(s)</b>
                                </div>
                                <div class="col-6 text-right">
                                    <div class="btn-group" role="group">
                                        <button type="button" *ngIf="!true" class="btn btn-secondary">Edit Offer</button>
                                        <button type="button" class="btn btn-danger">Withdraw</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-block collapsed  d-flex justify-content-between" type="button"
                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Rejected Offers
                            <span class="badge badge-primary badge-pill align-self-center">0</span>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#offersAccordion">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">No rejected offers availabe...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#makePaymentModal').on('shown.bs.modal', function () { })
    $('#paymentScheduleModal').on('shown.bs.modal', function () { })
</script>