<div class="card">
    <div class="card-header">
        Notifications & Action Items
    </div>
    <!-- <div class="card-body"> -->
    <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    
                    <h5 class="text-success"> <i class="bi bi-check-circle-fill"></i> Payment Confirmed!</h5>
                </div>
                <a click="dismiss()"><small>Dismiss</small></a>
            </div>

            <p class="mb-2">
                <small>Your payment of <b>$123.45</b> to John, W. (0x2FCF...192f) has been confirmed.</small>
            </p>

            <small>4/21/2021 - 1:10 PM</small>
            <!-- <a href="#" data-toggle="modal" data-target="#txReceiptModal" class="mb-1">
                <small>0x802EA54F76c0d88B5732bC5ffC8387445c99Db9a</small>
            </a> -->

        </a>
    </ul>
    <!-- </div> -->
    <!-- <div class="pad inside-div">
        <h3 style="text-align: center; color: white; padding-top: 15px;">Your Active Loans:</h3>
        <div class="center-div scroll-pane">
            <div class="div-card flex" 
            *ngFor="let loan of loans;">
                User: {{loan.username}} &nbsp;
                Loan Amount: {{loan.loan_amount}} &nbsp;
                Interest: {{loan.interest * 100}}% &nbsp;
                <button class="info-button" [routerLink]="['./loan-info/', loan.loan_id]"
                [state]="{
                    loan_id: loan.loan_id,
                    interest: loan.interest,
                    loan_amount: loan.loan_amount,
                    time_frame: loan.time_frame,
                    username: loan.username
                }">Edit</button>
                <p>Time Frame: {{loan.time_frame}}</p>
            </div>
        </div>
    </div> -->
</div>