<div class="card">
    <div class="card-header">
        Notifications & Action Items
    </div>
    <!-- <div class="card-body"> -->
    <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    
                    <h5 class="text-success"> <i class="bi bi-check-circle-fill"></i> Payment Confirmed!</h5>
                </div>
                <a click="dismiss()"><small>Dismiss</small></a>
            </div>

            <p class="mb-2">
                <small>Your payment of <b>$123.45</b> to John, W. (0x2FCF...192f) has been confirmed.</small>
            </p>

            <small>4/21/2021 - 1:10 PM</small>

        </a>
    </ul>
</div>