<div class="shadow pad middle-div">
    <div class="pad inside-div">
        <h3 style="text-align: center; color: white; padding-top: 15px;">Available Loans</h3>
        <div class="center-div scroll-pane">
            <div class="shadow div-card flex" *ngFor="let loan of loans">
                Loan ID: {{loan.loan_id}} &nbsp;
                Loan Amount: {{loan.loan_amount}} &nbsp;
                Interest: {{loan.interest}} &nbsp;
                <!-- <p>Time Frame: {{loan.time_frame}}</p> -->
            </div>
        </div>
    </div>
</div>