<div class="modal fade" id="loanInfoModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loan Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Loan ID</label>
                    <div class="col-sm-6">
                        <a href="https://kovan.etherscan.io/address/{{curr_loan.eth_address}}" target="_blank" style="word-wrap: break-word;">{{curr_loan.eth_address}}</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Loan Amount</label>
                    <div class="col-sm-6">
                        {{curr_loan.amount | currency}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Interest</label>
                    <div class="col-sm-6">
                        {{curr_loan.interest | percent}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Repayment Time (months)</label>
                    <div class="col-sm-6">
                        {{curr_loan.months}}
                    </div>
                </div>
                <hr>
                <div id="calculatedEstimates">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Est. Monthly Payment</h5>
                        <h5  class="mb-1 text-success">${{curr_loan.monthly_repayment | number: '1.0-2'}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#createOfferModal">Make Offer?</button>
                <button type="button" class="btn btn-primary" (click)="requestLoan()" data-dismiss="modal">Request Loan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createOfferModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-create-offer [loan_id]="curr_loan.loan_id" [lender_id]="curr_loan.lender"></app-create-offer>
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin-top: 50px;">
    <h3 class="card-header">
        Available Loans
    </h3>
    <a class="list-group-item list-group-item-action" *ngIf="!loans.length">
        No available loans at this time.
    </a>
    <ul class="overflow-auto list-group list-group-flush" style="max-height: 75vh;">
        <a class="list-group-item list-group-item-action" *ngFor="let loan of loans;  let i = index" data-toggle="modal" data-target="#loanInfoModal"
        (click)="loadLoanInfo(i)">
            <div class="d-flex">
                <h5 class="mb-1 align-self-center" style="margin-right: 2px;"> {{loan.amount | currency }}</h5>
                <span class="badge badge-warning align-self-center" style="margin-right: 2px;">{{loan.interest | percent}}</span>
                <span class="badge badge-info align-self-center" style="margin-right: 2px;">{{loan.months}} month(s)</span>
                <span class="badge badge-success align-self-center">Available</span>
            </div>
            <!-- <small><b>Lender:</b> {{loan.username}}</small> -->
            <p class="mb-1">
                <small><b>Loan ID: </b><a href="#" >{{loan.eth_address}}</a></small>
            </p>
        </a>
    </ul>
</div>



<script>
    $('#loanInfoModal').on('shown.bs.modal', function () {})
</script>