<div class="card">
    <div class="card-header">
        Latest Payments
    </div>
    <!-- <div class="card-body"> -->
    <ul class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-success">+$439.81</h5>
                <small class="text-warning">Awaiting Validation</small>
            </div>
            <small><b>Borrower:</b> John, W. (0x2FCF...192f)</small>
            <p class="mb-1">
                <small><b>Loan: </b><a href="#">0x967719e21626d3A45328fFe31a073E521Fee2d90</a></small>
            </p>
            <p class="mb-1">
                <small>4/21/2021 - 1:10 PM</small>
            </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-success">+$439.81</h5>
                <small class="text-success">Validated</small>
            </div>
            <small><b>Borrower:</b> John, W. (0x2FCF...192f)</small>
            <p class="mb-1">
                <small><b>Loan: </b><a href="#">0x967719e21626d3A45328fFe31a073E521Fee2d90</a></small>
            </p>
            <p class="mb-1">
                <small>3/20/2021 - 10:55 AM</small>
            </p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-danger">-$5000.00</h5>
                <small class="text-success">Validated</small>
            </div>
            <small><b>Borrower:</b> John, W. (0x2FCF...192f)</small>
            <p class="mb-1">
                <small><b>Loan: </b><a href="#">0x967719e21626d3A45328fFe31a073E521Fee2d90</a></small>
            </p>
            <p class="mb-1">
                <small>2/21/2021 - 8:35 AM</small>
            </p>
            <p class="mb-1">
                <span class="badge badge-info">Loan Started</span>
            </p>
            
        </a>
    </ul>
    <!-- </div> -->
    <!-- <div class="pad inside-div">
        <h3 style="text-align: center; color: white; padding-top: 15px;">Your Active Loans:</h3>
        <div class="center-div scroll-pane">
            <div class="div-card flex" 
            *ngFor="let loan of loans;">
                User: {{loan.username}} &nbsp;
                Loan Amount: {{loan.loan_amount}} &nbsp;
                Interest: {{loan.interest * 100}}% &nbsp;
                <button class="info-button" [routerLink]="['./loan-info/', loan.loan_id]"
                [state]="{
                    loan_id: loan.loan_id,
                    interest: loan.interest,
                    loan_amount: loan.loan_amount,
                    time_frame: loan.time_frame,
                    username: loan.username
                }">Edit</button>
                <p>Time Frame: {{loan.time_frame}}</p>
            </div>
        </div>
    </div> -->
</div>