<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand h1" *ngIf="!isAuthenticated" routerLink="/entry">DecentraLoan</a>
  <a class="navbar-brand h1" *ngIf="isAuthenticated" routerLink="/home" style="margin: auto;">DecentraLoan</a>
  <div class="collapse navbar-collapse d-flex flex-row">
    <ul class="navbar-nav">
    </ul>
  </div>
  <div class="collapse navbar-collapse d-flex flex-row-reverse">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated && !lender">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth">Sign Up</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
        style="cursor: pointer;"
        onmousedown="return false" onselectstart="return false"
          id="navbardrop"
          data-toggle="dropdown"
          *ngIf="isAuthenticated"
          (click)="load_notifications()">
          <a>Notifications </a>
          <span class="badge badge-primary badge-pill align-self-center"
          *ngIf="!!notificationService.notifications.length">
            {{notificationService.notifications.length}}
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-style overflow-auto">
          <a class="dropdown-item" *ngIf="!notificationService.notifications.length">
            <div class="col-sm-9" style="margin-top: 10px;">
              No notifications at this time...
            </div>
          </a>
          <a class="dropdown-item" *ngFor="let notification of notificationService.notifications">
            <div class="row">
              <div class="col-sm-9" style="margin-top: 10px;">
                {{notification.message}}
              </div>
              <div class="col-sm-3 d-flex justify-content-end date-format">
                {{this.dateAsYYYYMMDDHHNNSS(notification.created_on)}}
              </div>
            </div>
          </a>
        </div>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>

</nav>
