.dropdown-style {
    width: 500px;
    margin-top: 15px;
    max-height: 400px;
}

.dropdown-item {
    height: 50px;
    padding: auto;
    border: 1px solid lightgrey;
}

.dropdown-menu {
    max-height: 70vh;
    padding: 0;
    border-radius: 10px;
}

.date-format {
    font-size: 10px;
    padding-right: 0;
}