<body>
    <div class="shadow alert alert-danger" *ngIf="error != 'null'"
    style="text-align: center;
    margin-right: 350px;
    margin-left: 350px;">
        <p>{{error}}</p>
    </div>
    <div class="spec_div_form">
            <h1 style="text-align: center; 
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
            class="spec-div-h1">Create Loan</h1>
            <form #authForm="ngForm"  (ngSubmit)="onSubmit(authForm)">
                <div class="flex">
                    <label for="loan_amount">Max Loan Amount:</label>
                    <span class="currency">$</span>
                    <input type="number" id="loan_amount"
                    style="max-width: 100px;"
                    [(ngModel)]="loan.amount"
                    (change)="recalculateEstimates()"
                    name="loan_amount"
                    required
                    oninput="this.value=this.value.slice(0,this.maxLength)"
                    maxlength="5"
                    step="100"
                    max="10000"
                    min="100"
                    />
                </div>
                <div class="flex">
                    <label for="time_frame">Repayment Time (Months): </label>
                    <input type="number" id="time_frame" style="
                    border: 2px solid black;
                    border-radius: 7px;
                    max-width: 100px;"
                    [(ngModel)]="loan.months"
                    (change)="recalculateEstimates()"
                    name="time_frame"
                    required
                    />
                </div>
                <div class="flex">
                    <label for="interest">Interest Rate: </label>
                    <span class="currency">%</span>
                    <input type="number" id="interest"
                    style="max-width: 80px;"
                    [(ngModel)]="loan.interest"
                    (change)="recalculateEstimates()"
                    name="interest"
                    required
                    maxlength="2"
                    max="99"
                    min="5"
                    />
                </div>
                <div class="flex">
                    <label for="platform">Supported Platform: </label>
                    <select id="platform" name="platform" [(ngModel)]="loan.platform">
                        <option>Venmo</option>
                        <option>ATH Movil</option>
                        <option>Paypal</option>
                    </select>
                </div>
                <div id="calculatedEstimates">
                    <p>Est. Monthly Payment: ${{loan.monthly_repayment | number: '1.0-2'}}</p>
                    <p>Est. Total Interest: ${{loan.est_total_interest | number: '1.0-2' }}</p>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </div>
            </form>
    </div>
</body>