<html>
<div id="intro" class="view">

  <div class="container-fluid d-flex align-items-center justify-content-center h-100">

    <div class="row d-flex justify-content-center text-center">

      <div class="col-md-8">

        <!-- Heading -->
        <h2 style="color:white;" class="display-4 font-weight-bold white-text pt-5 mb-2">Decentraloan</h2>

        <!-- Divider -->
        <hr class="hr-light">

        <!-- Description -->
        <h4 style="color:white;" class="white-text my-4">Apply for loans and create your own, no background check nor bank registration needed!</h4>
        <button type="button" style="margin-top: 20px;" class="btn btn-secondary" onClick="document.getElementById('readme').scrollIntoView();">Learn More</button>

      </div>

    </div>

  </div>

</div>
<hr>
<hr>
<hr>
<div id="readme" >
  <main id="readme" class="view">
    <div class="container" style="height: 80vh;">
      <div class="container-fluid d-flex align-items-center justify-content-center h-100" >
        <!--Section: Best Features-->
        <section id="best-features" class="text-center" style="background-color: lightgray; border-radius: 15px 50px 30px 5px">

          <!-- Heading -->
          <h2 class="mb-5 font-weight-bold">Features</h2>

          <!--Grid row-->
          <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8">

              <!-- Description -->
              <p class="grey-text"  >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                hic
                provident nulla repellat
                facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                est
                sit pariatur.</p>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
          <hr>
          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-5">
              <i class="fa fa-camera-retro fa-4x orange-text"></i>
              <h4 class="my-4 font-weight-bold">Secure</h4>
              <p class="grey-text" style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                maiores nam,
                aperiam minima
                assumenda deleniti hic.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1 ">
              <i class="fa fa-heart fa-4x orange-text"></i>
              <h4 class="my-4 font-weight-bold">Passive Income</h4>
              <p class="grey-text" style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                maiores nam,
                aperiam minima
                assumenda deleniti hic.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-1">
              <i class="fa fa-bicycle fa-4x orange-text"></i>
              <h4 class="my-4 font-weight-bold">Easy to Use</h4>
              <p class="grey-text" style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                maiores nam,
                aperiam minima
                assumenda deleniti hic.</p>
            </div>
            <!--Grid column-->

          </div>
          <button type="button" style="margin-top: 20px;" class="btn btn-secondary" routerLink="/auth">Get Started</button>
          <hr style="color: white">
          <!--Grid row-->

        </section>
      </div>
    </div>
  </main>
</div>
</html>
