P.blocktext {
  text-align: center;
  font-size: 32pt;

}
Div.blocktext {
  text-align: center;
  font-size: 21pt;
}
.block {
  display: block;
  width: 16em;
  background-color: #f77307;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  color: white;
}

button:hover {
  background-color: #db6505;
  border: none;
  color: white;
}
