<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Payment Date</th>
      <th scope="col">Payment</th>
      <!-- <th scope="col">Balance</th> -->
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of paymentTable">
      <th scope="row">{{p.date | date: 'MMMM d, YYYY'}}</th>
      <td>{{p.payment | currency}}</td>
      <td class="text-info" *ngIf="p.state == 0">Unpaid</td>
      <td class="text-warning" *ngIf="p.state == -1">Paid - Waiting Validation</td>
      <td class="text-warning" *ngIf="p.state == 1">Paid - Validated</td>
    </tr>
  </tbody>
</table>