<div class="modal fade" id="createLoanModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Loan Offering</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-create-loan></app-create-loan>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="upper_panel" class="jumbotron" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-2 text-center border-right">
                        <h2>{{active_loans}}</h2>
                        Active Loans
                    </div>
                    <div class="col-2 text-center border-right">
                        <h2>{{available_loans}}</h2>
                        Available Loans
                    </div>
                    <div class="col-2 text-center border-right">
                        <h2>{{pending_offers}}</h2>
                        Pending Offers
                    </div>
                    <div class="col-4 text-center border-right">
                        <h2>{{active_loans_balance | currency}}</h2>
                        Active Loans Balance
                    </div>
                    <div class="col-2 text-center" style="padding: 10px;">
                        <div class="btn btn-success" data-toggle="modal" data-target="#createLoanModal">Create Loan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-active-loans></app-active-loans>
        </div>
        <div class="col-6">
            <app-latest-payments [isLender]="true"></app-latest-payments>
        </div>
    </div>
</div>

<script>
    $('#createLoanModal').on('shown.bs.modal', function () { })
</script>