<div class="modal fade" id="createLoanModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Loan Offering</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-create-loan></app-create-loan>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Review & submit</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="upper_panel" class="jumbotron" style="margin-top: 15px;">
                <div class="row">
                    <div class="col-2 text-center border-right">
                        <h2>7</h2>
                        <a routerLink="/active-loans">Active Loans</a>
                    </div>
                    <div class="col-2 text-center border-right">
                        <h2>5</h2>
                        <a routerLink="/lender">Closed Loans</a>
                    </div>
                    <div class="col-2 text-center border-right">
                        <h2>2</h2>
                        <a routerLink="/lender">Pending Offers</a>
                    </div>
                    <div class="col-4 text-center border-right">
                        <h2>$99,999.99</h2>
                        <a routerLink="/lender">Active Loans Balance</a>
                    </div>
                    <div class="col-2 text-center" style="padding: 10px;">
                        <div class="btn btn-success btn-lg" data-toggle="modal" data-target="#createLoanModal">Create Loan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-active-loans></app-active-loans>
        </div>
        <div class="col-6">
            <app-latest-payments></app-latest-payments>
        </div>
    </div>
</div>

<script>
    $('#createLoanModal').on('shown.bs.modal', function () { })
</script>