
<div class="mt-4 align-items-center">

  <!-- <h4 class="mb-4">
    Profile settings
  </h4> -->

  <div class="bg-white text-dark rounded-lg shadow">
    <div class="p-3 border-bottom">
      <h5 class="m-0 p-0">My Profile</h5>
    </div>
    <div class="row no-gutters">
      <div class="col-md-3 pt-0">
        <div class="list-group list-group-flush account-settings-links">
          <a class="list-group-item list-group-item-action active" data-toggle="list"
            href="#account-general">Profile</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change
            password</a>
          <a class="list-group-item list-group-item-action" data-toggle="list"
            href="#account-notifications">Notifications</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">

          <div class="tab-pane fade active show" id="account-general">
            <hr class="border-light m-0">

            <form #authForm="ngForm" (ngSubmit)="onSaveProfile(authForm)">
              <div class="card-body pb-2">
                <div class="alert alert-danger center" *ngIf="error != 'null'" style="text-align: center;">
                  <p style="margin: 0;">{{error}}</p>
                </div>  
                <div class="row form-group">
                  <div class="col-sm-3" *ngIf="!editMode">
                    <h6 class="mb-0" *ngIf="!editMode">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                    {{firstname}} {{lastname}}
                  </div>
                  <div class="col-sm-10 input-group" *ngIf="editMode">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Full Name</span>
                    </div>
                    <input id="first_name" class="form-control" name="first_name" ngModel type="text"
                      [(ngModel)]="firstname" *ngIf="editMode">
                    <input id="last_name" class="form-control" name="last_name" ngModel type="text"
                      [(ngModel)]="lastname" *ngIf="editMode">
                  </div>
                </div>
                <hr>
                <div class="row form-group">
                  <div class="col-sm-3" *ngIf="!editMode">
                    <h6 class="mb-0">Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" *ngIf="!editMode">{{username}}</div>
                  <div class="col-sm-10 input-group" *ngIf="editMode">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Username</span>
                    </div>
                    <input id="username" class="form-control" name="username" [(ngModel)]="username" ngModel type="text"
                      *ngIf="editMode">
                  </div>
                </div>
                <hr>
                <div class="row form-group">
                  <div class="col-sm-3" *ngIf="!editMode">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" *ngIf="!editMode">{{email}}</div>
                  <div class="col-sm-10 input-group" *ngIf="editMode">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Email</span>
                    </div>
                    <input id="email" class="form-control" name="email" [(ngModel)]="email" ngModel type="text"
                      *ngIf="editMode">
                  </div>
                </div>
                <hr>
                <div class="row form-group">
                  <div class="col-sm-3" *ngIf="!editMode">
                    <h6 class="mb-0">Wallet Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                    {{wallet}}
                  </div>
                  <div class="col-sm-10 input-group" *ngIf="editMode">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Wallet Address</span>
                    </div>
                    <input id="wallet" class="form-control" name="wallet" [(ngModel)]="wallet" ngModel type="text">
                  </div>
                </div>
                <hr>
                <div class="row form-group">
                  <div class="col-sm-3" *ngIf="!editMode">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                    {{phone}}
                  </div>
                  <div class="col-sm-10 input-group" *ngIf="editMode">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Phone</span>
                    </div>
                    <input id="phone" class="form-control" name="phone" [(ngModel)]="phone" ngModel type="text">
                  </div>
                </div>
                <hr>
                <div class="mx-auto d-block">
                  <div class="btn btn-primary" *ngIf="!editMode" (click)="editMode=true">Edit Profile</div>
                  <div type="submit" (click)="onSaveProfile(authForm)" data-toggle="modal" data-target="#myModal"
                    class="btn btn-primary" *ngIf="editMode">Save Profile</div>
                  <div class="btn btn-secondary mx-2" (click)="editMode=false; error='null';" *ngIf="editMode">Discard Changes</div>
                </div>
              </div>
            </form>

          </div>

          <div class="tab-pane fade" id="account-change-password">
            <form #authForm1="ngForm" (ngSubmit)="onSaveChanges(authForm1)">

              <div class="card-body pb-2">
                <span class="popuptext" id="myPopupP" style="color: red" *ngIf="passwordError">Passwords do not match or
                  Current Password is wrong</span>
                <span class="popuptext" id="myPopupP" style="color: green" *ngIf="passwordChanged">Password changed
                  succesfully</span>
                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" ngModel name="password" id="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" ngModel name="newpass" id="newpass" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" ngModel name="newpass_conf" id="newpass_conf" class="form-control">
                </div>
                <div type="submit" (click)="onSaveChanges(authForm1)" class="btn btn-primary">Save Changes</div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="account-notifications">
            <div class="card-body pb-2">

              <h6 class="mb-4">Activity</h6>

              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"> Email me when a payment is a week away</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"> Email me when a payment is done</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"> Email me when a payment fails</span>
                </label>
              </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body pb-2">

              <h6 class="mb-4">Application</h6>

              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input" checked="">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"> News and announcements</span>
                </label>
              </div>
              <div class="form-group">
                <label class="switcher">
                  <input type="checkbox" class="switcher-input">
                  <span class="switcher-indicator">
                    <span class="switcher-yes"></span>
                    <span class="switcher-no"></span>
                  </span>
                  <span class="switcher-label"> Monthly statements</span>
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>