<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <div class=" text-center">
              <img
                src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes.png"
                alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{firstname}} {{lastname}}</h4>
                <p class="text-secondary mb-1">Member Since [year]</p>
              </div>
            </div>
            <div class="btn btn-primary" *ngIf="!editMode" (click)="editMode=true">Edit Profile</div>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <form #authForm="ngForm" (ngSubmit)="onSaveProfile(authForm)">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row form-group">
                <div class="col-sm-3" *ngIf="!editMode">
                  <h6 class="mb-0" *ngIf="!editMode">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                  {{firstname}} {{lastname}}
                </div>
                <div class="col-sm-10 input-group" *ngIf="editMode">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Full Name</span>
                  </div>
                  <input id="first_name" class="form-control" name="first_name" ngModel type="text"
                    [(ngModel)]="firstname" *ngIf="editMode">
                  <input id="last_name" class="form-control" name="last_name" ngModel type="text" [(ngModel)]="lastname"
                    *ngIf="editMode">
                </div>


              </div>
              <hr>
              <div class="row form-group">
                <div class="col-sm-3" *ngIf="!editMode">
                  <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                  {{username}}
                </div>
                <div class="col-sm-10 input-group" *ngIf="editMode">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                  </div>
                  <input id="username" class="form-control" name="username" [(ngModel)]="username" ngModel type="text"
                    *ngIf="editMode">
                </div>

              </div>
              <hr>
              <div class="row form-group">
                <div class="col-sm-3" *ngIf="!editMode">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                  {{user_email}}
                </div>
                <div class="col-sm-10 input-group" *ngIf="editMode">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                  </div>
                  <input id="email" class="form-control" name="email" [(ngModel)]="user_email" ngModel type="text"
                    *ngIf="editMode">
                </div>

              </div>
              <hr>
              <div class="row form-group">
                <div class="col-sm-3" *ngIf="!editMode">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf="!editMode">
                  {{phone}}
                </div>
                <div class="col-sm-10 input-group" *ngIf="editMode">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Phone</span>
                  </div>
                  <input id="phone" class="form-control" name="phone" [(ngModel)]="phone" ngModel type="text">
                </div>

              </div>
              <hr>
              <div type="submit" (click)="onSaveProfile(authForm)" class="btn btn-primary" *ngIf="editMode">Save Profile</div>
              <div class="btn btn-secondary" (click)="editMode=false" *ngIf="editMode">Discard Changes</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
