<div class="modal fade" id="loanDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loan Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Loan ID</label>
                    <div class="col-sm-6" style="word-wrap: break-word;">
                        <a href="https://kovan.etherscan.io/address/{{curr_loan.eth_address}}" target="_blank">{{curr_loan.eth_address}}</a>
                    </div>
                </div>
                <div class="form-group row" style="word-wrap: break-word;" *ngIf="curr_loan.borrower != '0x0000000000000000000000000000000000000000'">
                    <label class="col-sm-6 col-form-label">Borrower</label>
                    <div class="col-sm-6">
                        {{curr_loan.borrower}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Loan Amount</label>
                    <div class="col-sm-6">
                        {{curr_loan.amount | currency}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Interest</label>
                    <div class="col-sm-6">
                        {{curr_loan.interest | percent: '1.0-2'}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Repayment Time (months)</label>
                    <div class="col-sm-6">
                        {{curr_loan.months}}
                    </div>
                </div>

                <div class="accordion" id="offersAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block d-flex justify-content-between" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Pending Offers
                                    <span class="badge badge-primary badge-pill align-self-center">{{curr_loan.offers}}</span>
                                </button>
                            </h2>
                        </div>
                        <div class="overflow-auto" style="max-height: 40vh;">
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#offersAccordion">
                                <ul class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action" 
                                    *ngFor="let p_offer of curr_loan.offers ; index as j">
                                        <div class="row">
                                            <div class="col-6">
                                                <del>{{ p_offer.amount_orig | currency }}</del> <b> {{p_offer.amount | currency}}</b>
                                            </div>
                                            <div class="col-6 text-right">
                                                <small>Waiting for lender response</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <del>{{ p_offer.interest_orig | percent }}</del> <b> {{ p_offer.interest | percent }}</b> 
                                            </div>
                                            <div class="col-6 text-right">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <del>{{ p_offer.months_orig }} month(s)</del> <b> {{ p_offer.months }} month(s)</b>
                                            </div>
                                            <div class="col-6 text-right">
                                                <!-- <div class="btn-group" role="group">
                                                    <button type="button" *ngIf="!true" class="btn btn-secondary">Edit Offer</button>
                                                    <button type="button" 
                                                    class="btn btn-danger" 
                                                    data-toggle="modal" 
                                                    data-target="#confirmModal"
                                                    (click)="loadOfferInfo(j)"
                                                    >
                                                        Withdraw
                                                    </button>
                                                </div> -->
                                            </div>
                                        </div>
                                    </a>
                                </ul>
                                <ul class="list-group list-group-flush" *ngIf="curr_loan.offers">
                                    <li class="list-group-item">No pending offers availabe...</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="calculatedEstimates">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Est. Monthly Payment</h5>
                        <!-- <h5 class="mb-1 text-success">${{curr_loan.monthly_repayment | number: '1.0-2'}}</h5> -->
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Est. Yield</h5>
                        <!-- <h5 class="mb-1 text-success">{{curr_loan.est_total_interest | currency}} ({{curr_loan.est_total_interest / curr_loan.amount | percent: '1.0-2'}})</h5> -->
                    </div>
                </div>
                
            </div>
            <div class="modal-footer" *ngIf="curr_loan.state == 0">
                <!-- <button type="button" *ngIf="curr_loan.offers" class="btn btn-outline-warning">View Offers</button> -->
                <button type="button" class="btn btn-outline-danger" (click)="withdraw()">Withdraw Loan?</button>
                <button type="button" class="btn btn-primary">Edit Parameters</button>
            </div>
            <div class="modal-footer" *ngIf="curr_loan.state == 3">
                <button type="button" class="btn btn-outline-danger" (click)="reject()">Reject Request</button>
                <button type="button" class="btn btn-primary" (click)="confirm()">Confirm Request</button>
            </div> 
        </div>
    </div>
</div>

<div style="margin-top: 40px;" *ngIf="isActiveLoansURLAddress()"></div>
<div class="card" *ngIf="!isLoading">
    <div class="card-header">
        My Loans
    </div>
    <ul class="overflow-auto list-group list-group-flush" style="max-height: 50vh;">
        <a class="list-group-item list-group-item-action" *ngIf="!loans.length">
            No loans available...
        </a>
        <a href="#" data-toggle="modal" data-target="#loanDetailsModal" class="list-group-item list-group-item-action"
            *ngFor="let loan of loans; let i = index" (click)="loadLoanInfo(i)">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{loan.amount | currency}}</h5>
                <small *ngIf="loan.state == -1" class="text-warning">
                    Submitted - Waiting for Blockchain Confirmation
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </small>
                <small *ngIf="loan.state == 0 && !loan.offers.length" class="text-info">Available</small>
                <small *ngIf="loan.state == 0 && loan.offers.length" class="text-warning">Available - {{ loan.offers.length }} Pending Offer(s)</small>
                <small *ngIf="loan.state == 3" class="text-warning">Borrower Requested - Action Required</small>
                <small *ngIf="loan.state == 2" class="text-success">Active</small>
                <small *ngIf="loan.state == 3" class="text-warning">Active - Waiting Validation</small>
                <small *ngIf="loan.state == 4" class="text-danger">Delinquent</small>
                <small *ngIf="loan.state == 5" class="text-secondary">Terminated</small>
                <small *ngIf="loan.state == 6" class="text-secondary">Withdrawn</small>
            </div>
            <p class="mb-1">
                <span class="badge badge-warning" style="margin-right: 2px;">{{loan.interest | percent: '1.0-2'}}</span>
                <span class="badge badge-info">{{loan.months}} month(s)</span>
            </p>
            <small *ngIf="loan.borrower != '0x0000000000000000000000000000000000000000'"><b>Borrower:</b> {{loan.borrower}}</small>
            <p class="mb-1">
                <small><b>Loan ID: </b><a href="#">{{ loan.eth_address }}</a></small>
            </p>
        </a>
    </ul>
</div>
<script>
    $('#loanDetailsModal').on('shown.bs.modal', function () { })
</script>
<!-- [routerLink]="['./loan-info/', loan.loan_id]" -->